<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}">
<meta property="og:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ site.Params.description }}{{ end }}{{ end }}">

{{- $images := .Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if $featured -}}
<meta property="og:image" content="{{ $featured.Permalink }}">
{{- else if .Params.cover.image -}}
<meta property="og:image" content="{{ .Params.cover.image | absURL }}">
{{- else -}}
<meta property="og:image" content="{{ " images/og-card.png" | absURL }}">
{{- end -}}

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ .Title }}">
<meta property="twitter:description" content="{{ .Description }}">